* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

h1 {
    position: relative;
    text-align: center;
    margin-top: 5vw;
    color: #333; /* Color más oscuro para mejor contraste */
}

.header {
    background-color: #B0C4DE; /* Color de fondo claro para el encabezado */
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* Sombra sutil para dar profundidad */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribución equitativa de los elementos */
    width: 100%;
}

.header img {
    height: 50px; /* Tamaño fijo para logos */
}

.header .nav-links ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

.header .nav-links a {
    font-weight: bold;
    color: #333; /* Color oscuro para mejor contraste */
    padding: 5px 10px;
    border-radius: 5px; /* Bordes redondeados para los enlaces */
    transition: background-color 0.3s;
}

.header .nav-links a:hover {
    background-color: #007bff; /* Cambio de fondo al hacer hover */
    color: #fff;
}

.fusion-secondary-header {
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: #afafaf;
    width: 100%;
    max-width: inherit;
}

.FusionSocial {
    padding-top: 2vw;
    padding-bottom: 1.5vw;
    display: flex;
    align-items: center;
    background: #afafaf;
    cursor: pointer;
    width: 100%;
    max-width: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 1vw;
}

.fusion-sep-clear {
    display: block;
    position: relative;
    width: 90%;
    height: 1px;
    background: #8f9195;
    line-height: 0;
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
    letter-spacing: 0px;
}

.images {
    text-align: center;
    display: flex;
    width: 100%;
    padding: 3vw;
    flex-direction: row;
    gap: 5vw;
}

.fusion-imageframe img {
    justify-self: center;
    cursor: pointer;
    margin-top: 2vw;
    width: 100%;
    height: auto;
    max-width: 27.5rem;
    max-height: 18.75rem;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 2px;
    gap: 2vw;
    transition: transform 0.3s ease-in-out;
    transition-duration: 0.4s;
}

.fusion-imageframe:hover {
    transform: scale(1.1);
    z-index: 1;
}

.fusion-imageframe h3 {
    margin-top: 2vw;
    font-family: 'Amatic SC';
    font-size: 1.5rem;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 1em;
    padding-left: 5vw;
    padding-right: 3vw;
    width: 100%;
    max-width: inherit;
}

footer p,
footer .email,
footer nav {
    flex: 1;
    padding-left: 3vw;
}

footer a {
    color: white;
    text-decoration: none;
    display: list-item;
    list-style: none;
    padding: 0;
    font-family: "Arial";
    font-weight: 250;
    font-size: 1rem;
    letter-spacing: 0px;
    font-style: normal;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: list-item;
    margin-right: 1em;
}

.nav-links a:hover {
    color: rgb(57, 164, 194);
}

/* terminos*/
.container{
    padding-top: 2vw;
    font-family: 'Arial';
   display: inline;
}
.terminos {
   list-style: none;
    padding: 60px;
}

/* about */
p{  
    margin: 30px;
    padding: 2vw;
    font-family: 'Arial';
   display: flex;
   position: relative;
}

/* contacto */
.fusionl{
    margin: 0 60px;  
}
.social-links {
    flex-direction: column;
    align-items: center;
}
.social-links img {
    display: inline-block;
    margin: 0 0.26vw;
    padding-right: 0.26vw;
    padding: 2vw;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 5.417vw; 
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}

/* faq */
.faq-header {
    text-align: center;
    font-size: 1.5rem; 
    margin-bottom: 20px; 
}
.question {
    font-weight:bold; 
    margin-top: 20px; 
    padding-left: 4vw;
    padding-right: 4vw;
}
.answer {
    margin-bottom: 20px; 
    padding-left: 4vw;
    padding-right: 4vw;
}

/* portfolio */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    padding: 10px;
}
.gallery img {
    width: 100%;
    height:auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;  
}
.gallery img:hover {
    transform: scale(1.1);
}

.ajusteP{
    padding: 3.125vw;
}

@media (max-width: 941px) {
    .images {
        flex-direction: column-reverse;
    }
    footer {
        padding-left: 2vw;
        padding-right: 2vw;
        overflow: hidden;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    h1 {
        overflow: hidden;
        font-size: 3.5vw;
    }
    .terminos {
        padding: 1vw; 
    }
    .imageframe {
        flex-direction: column; 
    }
    .imageframe img {
        margin-bottom: 1vw; 
    }
    p {
        margin: 15px; 
        padding: 1vw; 
        font-size: 0.9rem; 
    }
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .ajusteP {
        padding: 2.5vw;
    }
}

@media (max-width: 576px) {
    .images {
        flex-direction: column-reverse;
    }
    footer {
        padding-left: 2vw;
        padding-right: 2vw;
        overflow: hidden;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    h1 {
        overflow: hidden;
        font-size: 3.5vw;
    }
    .terminos {
        padding: 3vw; 
        padding-bottom:5vw ;
    }
    .imageframe {
        flex-direction: column; 
    }
    .imageframe img {
        margin-bottom: 1vw; 
    }
    p {
        margin: 15px; 
        padding: 1vw; 
        font-size: 0.9rem; 
    }
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    .ajusteP {
        padding: 1.875vw;
    }
}
.contactos-page {
    background-color: #E6E6FA; 
}

.faq-page {
    background-color: #FFF0F5; 
}

.acerca-page {
    background-color: #FFEBF2; 
}

.port-page {
    background-color: #E0FFFF; 
}

.terminos-page {
    background-color: #F0FFF0; 

}.terminos-page .imageframe img {
    max-width: 50%; /* o el tamaño que prefieras */
    display: block; /* para centrar la imagen si es necesario */
    margin: 0 auto; /* para centrar la imagen horizontalmente */
}
.acerca-page .imageframe img {
    max-width: 50%; /* o el tamaño que prefieras */
    display: block; /* para centrar la imagen si es necesario */
    margin: 0 auto; /* para centrar la imagen horizontalmente */
}
.eventos-page {
    background-color: #FAFAD2; 
}

.contribuir-page {
    background-color: #F5F5DC; 
}

.blog-page {
    background-color: #FFEFD5; 
    
}
.blog-page .imageframe img {
    width: 300px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* Asegura que la imagen cubra completamente el espacio sin deformarse */
    border-radius: 8px; /* Opcional: bordes redondeados */
}

.anadir-page {
    background-color: #FFFACD; 
}
.eventos-page .imageframe img {
    max-width: 50%; /* o el tamaño que prefieras */
    display: block; /* para centrar la imagen si es necesario */
    margin: 0 auto; /* para centrar la imagen horizontalmente */
}

