.fusionl {
  margin: 0 60px;
}
.social-links {
  flex-direction: column;
  align-items: center;
}
.social-links img {
  display: inline-block;
  margin: 0 0.26vw;
  padding-right: 0.26vw;
  padding: 2vw;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 5.417vw;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}
