.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0;
  font-style: normal;
}
.header .nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2vw;
}
.header img {
  margin-top: 2vw;
  width: 25%;
  margin-bottom: 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 941px) {
  .header img {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .header .nav-links ul {
    flex-direction: column;
  }
}
.fusion-secondary-header,
.FusionSocial {
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: #afafaf;
  width: 100%;
  max-width: inherit;
}
@media (max-width: 576px) {
  .fusion-secondary-header,
  .FusionSocial {
    flex-direction: column;
    padding: 1vw;
  }
}
