<section class="header">
    <nav>
        <div class="fusion-secondary-header">
            <div class="FusionSocial">
                <a href="https://twitter.com/_Mikerya" target="_blank" rel="noopener noreferrer" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/_mikerya/" target="_blank" rel="noopener noreferrer"
                    class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </nav>
    <nav>
        <a href="index.html"><img src="/vite-project/public/assets/imagenes/Title.jpg" alt="logo de Motsu"></a> 
        <div class="nav-links">
            <ul class="menu">
                <li><a href="index.html">HOME</a></li>
                <li><a href="acerca.html">ACERCA DE MI</a></li>
                <li><a href="port.html">PORTFOLIO</a></li>
                <li><a href="contactos.html">CONTACTO</a></li>
                <li><a href="terminos.html">TERMINOS Y CONDICIONES</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </div>
    </nav>
    <h1>¡Bienvenidos a la página de comisiones de Motsu!</h1>
</section>